<!DOCTYPE html>
<html>

<head>
  <title>Vue 3 用户注册登录</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://unpkg.com/parse/dist/parse.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
  <script src="https://unpkg.com/element-plus"></script>
  <script type="module" src="./js/app.js"></script> 
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div id="app">
    <div class="container">
      <div class="column title-list">
        <button @click="addArticle">添加文章</button>
        <h3>文章列表</h3>
        <ul>
          <li v-for="article in articles" :class="{'active': selectedArticle && article.id === selectedArticle.id}" @click="selectArticle(article)">{{article.title}}</li>
        </ul>
      </div>
      <div class="column article-info" id="article-info">
        <h3>文章详情</h3>
        <input v-if="selectedArticle" type="text" v-model="selectedArticle.title" @change="updateArticle(selectedArticle)"  />
        <!-- <textarea v-if="selectedArticle" name="" id="" v-model="selectedArticle.content" @change="updateArticle(selectedArticle)"></textarea> -->
        <div class="content" ref="editableRef" v-if="selectedArticle" @mouseup="selectionchange" contenteditable="true" id="editable" @input="updateContent"></div>
        <div class="tools">
          <button>清理格式</button>
          <button class="danger" @click="deleteArticle">删除文章</button>
        </div>
      </div> 
      <!-- @click="selectWord" -->
      <div class="column article-translation" id="article-translation">
        <h3>文章翻译</h3>
      </div>
    </div>
  </div>

  
</body>

</html>